html {
	color: #333333;
	background:#FAFAF8;
	font-size: 14px;
	line-height: 1.428571429;
	height: 100%
}

body {
	height: 100%;
}

a {
	color: #2a6496;
	text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #333333;
}

a:hover, a:focus {
	color: #2a6496;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Special Elite', serif;
	font-weight: 500;
	line-height: 1.1;
}

h1 {
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align:center;
}

p, ul {
	font-family:'Merriweather', serif;
	font-size: 14px;
	line-height: 1.4;
}

.button {
	color: #333333;
	display: inline-block;
	padding: 12px 12px;
	margin-top: 20px;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.button:focus, .button:hover {
	color: #333333;
	text-decoration: none;
}

.button:hover {
	background:#F0F0EE;
}

.mainelement {
	margin-top:50px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1024px) {
	.mainelement {
		width: 700px;
	}
}

@media (max-width: 800px) {
	.mainelement {
		width: 550px;
	}
}

@media (max-width: 640px) {
	.mainelement {
		width: 350px;
	}
}

@media (max-width: 400px) {
	.mainelement {
		width: 240px;	}
}